In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:kipsang@localhost:3306/united_nations

Connecting to 'mysql+pymysql://root:***@localhost:3306/united_nations'

In [3]:
%%sql
SHOW TABLES;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

5 rows affected.

+--------------------------+
| Tables_in_united_nations |
+--------------------------+
| access_to_basic_services |
|      basic_services      |
|       country_list       |
|   economic_indicators    |
|   geographic_location    |
+--------------------------+

In [4]:
%%sql

SELECT
    SUM(Land_area) as total_land_area
FROM
    geographic_location
WHERE
    Sub_region = 'Middle Africa';

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1 rows affected.

+-----------------+
| total_land_area |
+-----------------+
|    3888270.00   |
+-----------------+

In [5]:
%%sql

SELECT
    Country_name,
    ROUND(Land_area/3888270.00*100) AS  pct_regional_land
FROM
    geographic_location
WHERE
    Sub_region = 'Middle Africa';

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

9 rows affected.

+----------------------------------+-------------------+
|           Country_name           | pct_regional_land |
+----------------------------------+-------------------+
|              Angola              |         32        |
|             Cameroon             |         12        |
|     Central African Republic     |         16        |
|               Chad               |         32        |
|              Congo               |        None       |
| Democratic Republic of the Congo |        None       |
|        Equatorial Guinea         |         1         |
|              Gabon               |         7         |
|      Sao Tome and Principe       |         0         |
+----------------------------------+-------------------+

In [6]:
%%sql

SELECT
    Country_name,
    ROUND(land_area / (
                        SELECT
                            SUM(Land_area)
                        FROM
                            geographic_location
                        WHERE
                            Sub_region = 'Middle Africa') * 100, 2) as Pct_regional_land
FROM
    geographic_location
WHERE
    Sub_region = 'Middle Africa';

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

9 rows affected.

+----------------------------------+-------------------+
|           Country_name           | Pct_regional_land |
+----------------------------------+-------------------+
|              Angola              |       32.06       |
|             Cameroon             |       12.16       |
|     Central African Republic     |       16.02       |
|               Chad               |       32.38       |
|              Congo               |        None       |
| Democratic Republic of the Congo |        None       |
|        Equatorial Guinea         |        0.72       |
|              Gabon               |        6.63       |
|      Sao Tome and Principe       |        0.02       |
+----------------------------------+-------------------+

In [7]:
%%sql

SELECT
    Country_name,
    ROUND(Land_area / (
                        SELECT
                            SUM(Land_area)
                        FROM
                            geographic_location
                        WHERE
                            Sub_region = g.Sub_region) * 100, 2) as Pct_regional_land
FROM
    geographic_location AS g;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

182 rows affected.

+---------------------+-------------------+
|     Country_name    | Pct_regional_land |
+---------------------+-------------------+
|     Afghanistan     |       13.67       |
|       Algeria       |       36.03       |
|    American Samoa   |        2.77       |
|        Angola       |       32.06       |
|       Anguilla      |        None       |
| Antigua and Barbuda |        0.21       |
|      Argentina      |       17.77       |
|       Armenia       |        0.82       |
|        Aruba        |        0.09       |
|      Australia      |       96.69       |
+---------------------+-------------------+
Truncated to displaylimit of 10.

In [8]:
%%sql

SELECT
    Sub_region,
    SUM(Land_area) AS Total_Land_Area
FROM
    geographic_location
GROUP BY
    Sub_region

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

18 rows affected.

+---------------------------+-----------------+
|         Sub_region        | Total_Land_Area |
+---------------------------+-----------------+
|       Southern Asia       |    4770135.41   |
|      Northern Africa      |    6610941.00   |
|         Polynesia         |     7217.67     |
|       Middle Africa       |    3888270.00   |
|         Caribbean         |    208104.00    |
|       South America       |   15401392.00   |
|        Western Asia       |    3488571.67   |
| Australia and New Zealand |    7953710.00   |
|      Central America      |    2452080.00   |
|       Western Africa      |    5735548.83   |
+---------------------------+-----------------+
Truncated to displaylimit of 10.

In [9]:
%%sql

SELECT
    geoloc.Country_name,
    geoloc.Land_area,
    geoloc.Sub_region,
    (geoloc.Land_area / Land_per_region.Total_Land_Area) * 100 AS Pct_Of_Region_Land
FROM
    geographic_location AS geoloc
JOIN
    (
    SELECT
        Sub_region,
        SUM(Land_area) AS Total_Land_Area
    FROM
        geographic_location
    GROUP BY
        Sub_region)  AS Land_per_region
    ON
        geoloc.Sub_region = Land_per_region.sub_Region;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

182 rows affected.

+---------------------+------------+---------------------------+--------------------+
|     Country_name    | Land_area  |         Sub_region        | Pct_Of_Region_Land |
+---------------------+------------+---------------------------+--------------------+
|     Afghanistan     | 652230.00  |       Southern Asia       |     13.673197      |
|       Algeria       | 2381741.00 |      Northern Africa      |     36.027261      |
|    American Samoa   |   200.00   |         Polynesia         |      2.770977      |
|        Angola       | 1246700.00 |       Middle Africa       |     32.063103      |
|       Anguilla      |    None    |         Caribbean         |        None        |
| Antigua and Barbuda |   440.00   |         Caribbean         |      0.211433      |
|      Argentina      | 2736690.00 |       South America       |     17.769108      |
|       Armenia       |  28470.00  |        Western Asia       |      0.816093      |
|        Aruba        |   180.00   |         Caribbean         |      0.086495      |
|      Australia      | 7690400.00 | Australia and New Zealand |     96.689469      |
+---------------------+------------+---------------------------+--------------------+
Truncated to displaylimit of 10.

In [10]:
%%sql

SELECT
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

5 rows affected.

+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+-----------+------------------+
|           Region          |  Sub_region  | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions | Land_area | Pct_unemployment |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+-----------+------------------+
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2015    |                94.67                |              98.00              |           17.54            |        184.39       | 2699700.0 |       4.93       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2016    |                94.67                |              98.00              |           17.79            |        137.28       | 2699700.0 |       4.96       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2017    |                95.00                |              98.00              |           18.04            |        166.81       | 2699700.0 |       4.90       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2018    |                95.00                |              98.00              |           18.28            |        179.34       | 2699700.0 |       4.85       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2019    |                95.00                |              98.00              |           18.51            |        181.67       | 2699700.0 |       4.80       |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+-----------+------------------+

In [11]:
%%sql

SELECT
    Country_name,
    Est_gdp_in_billions,
    Est_population_in_millions
FROM
    Economic_Indicators
WHERE
    Pct_unemployment > 5
    AND Time_period = 2020;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

37 rows affected.

+-------------------+---------------------+----------------------------+
|    Country_name   | Est_gdp_in_billions | Est_population_in_millions |
+-------------------+---------------------+----------------------------+
|    Afghanistan    |        20.14        |         38.970000          |
|     Argentina     |        385.54       |         45.380000          |
|      Armenia      |        12.64        |          2.810000          |
|     Australia     |       1326.90       |         25.660000          |
|     Azerbaijan    |        42.69        |         10.090000          |
|       Bhutan      |         2.33        |          0.770000          |
|      Botswana     |        14.93        |          2.550000          |
|       Brazil      |       1448.56       |         213.200000         |
| Brunei Darussalam |        12.01        |          0.440000          |
|       Canada      |       1645.42       |         38.040000          |
+-------------------+---------------------+----------------------------+
Truncated to displaylimit of 10.

In [12]:
%%sql

SELECT
    Country_name,
    AVG(Est_gdp_in_billions) AS Avg_GDP,
    AVG(Est_population_in_millions) AS Avg_Population
FROM
    Economic_Indicators
GROUP BY
    Country_name;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

182 rows affected.

+---------------------+-------------+----------------+
|     Country_name    |   Avg_GDP   | Avg_Population |
+---------------------+-------------+----------------+
|     Afghanistan     |  19.063333  | 36.2433333333  |
|       Algeria       |  164.633333 | 41.5183333333  |
|    American Samoa   |   0.660000  |  0.0500000000  |
|        Angola       |  67.791667  | 30.7566666667  |
|       Anguilla      |     None    |      None      |
| Antigua and Barbuda |   1.416667  |  0.0900000000  |
|      Argentina      |  525.670000 | 44.2616666667  |
|       Armenia       |  11.891667  |  2.8450000000  |
|        Aruba        |   2.970000  |  0.1000000000  |
|      Australia      | 1338.516667 | 24.7616666667  |
+---------------------+-------------+----------------+
Truncated to displaylimit of 10.

In [13]:
%%sql

SELECT
    Country_name,
    AVG(Est_gdp_in_billions) AS Avg_GDP,
    AVG(Est_population_in_millions) AS Avg_Population
FROM
    (SELECT
        Country_name,
        Est_gdp_in_billions,
        Est_population_in_millions
    FROM
        Economic_Indicators
    WHERE
        Pct_unemployment > 5
        AND Time_period = 2020) AS FilteredCountries
GROUP BY
    Country_name;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

37 rows affected.

+-------------------+-------------+----------------+
|    Country_name   |   Avg_GDP   | Avg_Population |
+-------------------+-------------+----------------+
|    Afghanistan    |  20.140000  | 38.9700000000  |
|     Argentina     |  385.540000 | 45.3800000000  |
|      Armenia      |  12.640000  |  2.8100000000  |
|     Australia     | 1326.900000 | 25.6600000000  |
|     Azerbaijan    |  42.690000  | 10.0900000000  |
|       Bhutan      |   2.330000  |  0.7700000000  |
|      Botswana     |  14.930000  |  2.5500000000  |
|       Brazil      | 1448.560000 | 213.2000000000 |
| Brunei Darussalam |  12.010000  |  0.4400000000  |
|       Canada      | 1645.420000 | 38.0400000000  |
+-------------------+-------------+----------------+
Truncated to displaylimit of 10.

In [14]:
%%sql

SELECT
    AVG(Est_gdp_in_billions)
FROM
    Economic_Indicators
WHERE
    Time_period = 2020;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1 rows affected.

+--------------------------+
| AVG(Est_gdp_in_billions) |
+--------------------------+
|        301.176825        |
+--------------------------+

In [15]:
%%sql

SELECT
    econ.Country_name,
    econ.Time_period,
    econ.Est_gdp_in_billions,
    service.Pct_managed_drinking_water_services
FROM
    Economic_Indicators AS econ
INNER JOIN
    Basic_Services AS service
ON
    econ.Country_name = service.Country_name
    AND econ.Time_period = service.Time_period
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

10 rows affected.

+--------------+-------------+---------------------+-------------------------------------+
| Country_name | Time_period | Est_gdp_in_billions | Pct_managed_drinking_water_services |
+--------------+-------------+---------------------+-------------------------------------+
| Afghanistan  |     2015    |        20.00        |                67.00                |
| Afghanistan  |     2016    |        18.02        |                69.67                |
| Afghanistan  |     2017    |        18.90        |                72.33                |
| Afghanistan  |     2018    |        18.42        |                75.33                |
| Afghanistan  |     2019    |        18.90        |                78.00                |
| Afghanistan  |     2020    |        20.14        |                80.33                |
|   Algeria    |     2015    |        165.98       |                92.00                |
|   Algeria    |     2016    |        160.03       |                93.00                |
|   Algeria    |     2017    |        170.10       |                93.00                |
|   Algeria    |     2018    |        174.91       |                93.00                |
+--------------+-------------+---------------------+-------------------------------------+
Truncated to displaylimit of 10.

In [16]:
%%sql

SELECT
    econ.Country_name,
    econ.Time_period,
    econ.Est_gdp_in_billions,
    service.Pct_managed_drinking_water_services
FROM
    Economic_Indicators AS econ
INNER JOIN
    Basic_Services AS service
ON
    econ.Country_name = service.Country_name
    AND econ.Time_period = service.Time_period
WHERE
    econ.time_period = 2020
    AND service.Pct_managed_drinking_water_services < 90
    AND econ.Est_gdp_in_billions > (SELECT
                                        AVG(Est_gdp_in_billions)
                                    FROM
                                        Economic_Indicators
                                    WHERE
                                        Time_period = 2020);

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1 rows affected.

+--------------+-------------+---------------------+-------------------------------------+
| Country_name | Time_period | Est_gdp_in_billions | Pct_managed_drinking_water_services |
+--------------+-------------+---------------------+-------------------------------------+
|   Nigeria    |     2020    |        432.20       |                77.33                |
+--------------+-------------+---------------------+-------------------------------------+

In [17]:
%%sql
SELECT
    Region,
    Country_name,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
FROM united_nations.Access_to_Basic_Services
WHERE Time_period = 2020;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

165 rows affected.

+---------------------------+----------------------------+-------------------------------------+---------------------------------+---------------------+--------------------+
|           Region          |        Country_name        | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_gdp_in_billions | Avg_gdp_for_region |
+---------------------------+----------------------------+-------------------------------------+---------------------------------+---------------------+--------------------+
| Central and Southern Asia |         Kazakhstan         |                95.00                |              98.00              |        171.08       |     338.738182     |
| Central and Southern Asia |         Kyrgyzstan         |                92.67                |              97.67              |         None        |     338.738182     |
| Central and Southern Asia |         Tajikistan         |                85.00                |              96.33              |         8.13        |     338.738182     |
| Central and Southern Asia |        Turkmenistan        |                100.00               |              99.33              |         None        |     338.738182     |
| Central and Southern Asia |         Uzbekistan         |                98.00                |              100.00             |        59.89        |     338.738182     |
| Central and Southern Asia |        Afghanistan         |                80.33                |              54.00              |        20.14        |     338.738182     |
| Central and Southern Asia |         Bangladesh         |                97.67                |              54.00              |        373.90       |     338.738182     |
| Central and Southern Asia |           Bhutan           |                97.33                |              76.67              |         2.33        |     338.738182     |
| Central and Southern Asia |           India            |                91.00                |              72.33              |       2667.69       |     338.738182     |
| Central and Southern Asia | Iran (Islamic Republic of) |                96.67                |              88.33              |         None        |     338.738182     |
+---------------------------+----------------------------+-------------------------------------+---------------------------------+---------------------+--------------------+
Truncated to displaylimit of 10.

In [18]:
%%sql
SELECT
    Region,
    Country_name,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
FROM
    united_nations.Access_to_Basic_Services
WHERE
    Region = 'Sub-Saharan Africa'
    AND Time_period = 2020
    AND Pct_managed_drinking_water_services < 60
    AND Est_gdp_in_billions < Avg_gdp_for_region;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

RuntimeError: (pymysql.err.OperationalError) (1054, "Unknown column 'Avg_gdp_for_region' in 'where clause'")
[SQL: SELECT
    Region,
    Country_name,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
FROM
    united_nations.Access_to_Basic_Services
WHERE
    Region = 'Sub-Saharan Africa'
    AND Time_period = 2020
    AND Pct_managed_drinking_water_services < 60
    AND Est_gdp_in_billions < Avg_gdp_for_region;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [19]:
%%sql
SELECT
    Country_name,
    Region,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_gdp_in_billions,
    Avg_gdp_for_region
FROM (
    SELECT
        Region,
        Country_name,
        Pct_managed_drinking_water_services,
        Pct_managed_sanitation_services,
        Est_gdp_in_billions,
        AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
    FROM
        united_nations.Access_to_Basic_Services
    WHERE
        Time_period = 2020
    ) AS Avg_world_GDP_2020
WHERE
    Region = 'Sub-Saharan Africa'
    AND Pct_managed_drinking_water_services < 60
    AND Est_gdp_in_billions < Avg_gdp_for_region;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

6 rows affected.

+--------------------------+--------------------+-------------------------------------+---------------------------------+---------------------+--------------------+
|       Country_name       |       Region       | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_gdp_in_billions | Avg_gdp_for_region |
+--------------------------+--------------------+-------------------------------------+---------------------------------+---------------------+--------------------+
|        Madagascar        | Sub-Saharan Africa |                56.33                |              13.00              |        13.05        |     39.041316      |
|         Somalia          | Sub-Saharan Africa |                57.33                |              40.00              |         6.88        |     39.041316      |
| Central African Republic | Sub-Saharan Africa |                38.33                |              15.00              |         2.33        |     39.041316      |
|           Chad           | Sub-Saharan Africa |                52.67                |              18.67              |        10.72        |     39.041316      |
|       Burkina Faso       | Sub-Saharan Africa |                53.33                |              25.00              |        17.93        |     39.041316      |
|          Niger           | Sub-Saharan Africa |                57.33                |              24.67              |        13.74        |     39.041316      |
+--------------------------+--------------------+-------------------------------------+---------------------------------+---------------------+--------------------+

In [20]:
%%sql
-- This CTE calculates the average regional GDP for each country, for the year 2020.
WITH Avg_world_GDP_2020 AS (
    SELECT
        Region,
        Country_name,
        Pct_managed_drinking_water_services,
        Pct_managed_sanitation_services,
        Est_gdp_in_billions,
        AVG(Est_gdp_in_billions) OVER(PARTITION BY Region) AS Avg_gdp_for_region
    FROM
        united_nations.Access_to_Basic_Services
    WHERE
        Time_period = 2020
)

/*
This query filters the Avg_world_GDP_2020 CTE for
countries that have below-average GDP, in the
Sub-Saharan Africa region, and struggling with water access.
*/

SELECT
    Country_name
FROM
    Avg_world_GDP_2020
WHERE
    Region = 'Sub-Saharan Africa'
    AND Pct_managed_drinking_water_services < 60
    AND Est_gdp_in_billions < Avg_gdp_for_region;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

6 rows affected.

+--------------------------+
|       Country_name       |
+--------------------------+
|        Madagascar        |
|         Somalia          |
| Central African Republic |
|           Chad           |
|       Burkina Faso       |
|          Niger           |
+--------------------------+

# Creating Views

In [ ]:
%%sql
SELECT
    loc.Country_name,
    eco.Time_period,
    eco.Pct_unemployment
FROM
    united_nations.geographic_location as loc
LEFT JOIN united_nations.Economic_Indicators as eco
ON