In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:kipsang@localhost:3306/united_nations

Connecting to 'mysql+pymysql://root:***@localhost:3306/united_nations'

In [3]:
%%sql
SHOW TABLES;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

5 rows affected.

+--------------------------+
| Tables_in_united_nations |
+--------------------------+
| access_to_basic_services |
|      basic_services      |
|       country_list       |
|   economic_indicators    |
|   geographic_location    |
+--------------------------+

In [4]:
%%sql

SELECT
    SUM(Land_area) as total_land_area
FROM
    geographic_location
WHERE
    Sub_region = 'Middle Africa';

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1 rows affected.

+-----------------+
| total_land_area |
+-----------------+
|    3888270.00   |
+-----------------+

In [5]:
%%sql

SELECT
    Country_name,
    ROUND(Land_area/3888270.00*100) AS  pct_regional_land
FROM
    geographic_location
WHERE
    Sub_region = 'Middle Africa';

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

9 rows affected.

+----------------------------------+-------------------+
|           Country_name           | pct_regional_land |
+----------------------------------+-------------------+
|              Angola              |         32        |
|             Cameroon             |         12        |
|     Central African Republic     |         16        |
|               Chad               |         32        |
|              Congo               |        None       |
| Democratic Republic of the Congo |        None       |
|        Equatorial Guinea         |         1         |
|              Gabon               |         7         |
|      Sao Tome and Principe       |         0         |
+----------------------------------+-------------------+