In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:kipsang@localhost:3306/united_nations

Connecting to 'mysql+pymysql://root:***@localhost:3306/united_nations'

In [3]:
%%sql
SHOW TABLES;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

5 rows affected.

+--------------------------+
| Tables_in_united_nations |
+--------------------------+
| access_to_basic_services |
|      basic_services      |
|       country_list       |
|   economic_indicators    |
|   geographic_location    |
+--------------------------+

In [4]:
%%sql

SELECT
    SUM(Land_area) as total_land_area
FROM
    geographic_location
WHERE
    Sub_region = 'Middle Africa';

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1 rows affected.

+-----------------+
| total_land_area |
+-----------------+
|    3888270.00   |
+-----------------+

In [5]:
%%sql

SELECT
    Country_name,
    ROUND(Land_area/3888270.00*100) AS  pct_regional_land
FROM
    geographic_location
WHERE
    Sub_region = 'Middle Africa';

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

9 rows affected.

+----------------------------------+-------------------+
|           Country_name           | pct_regional_land |
+----------------------------------+-------------------+
|              Angola              |         32        |
|             Cameroon             |         12        |
|     Central African Republic     |         16        |
|               Chad               |         32        |
|              Congo               |        None       |
| Democratic Republic of the Congo |        None       |
|        Equatorial Guinea         |         1         |
|              Gabon               |         7         |
|      Sao Tome and Principe       |         0         |
+----------------------------------+-------------------+

In [6]:
%%sql

SELECT
    Country_name,
    ROUND(land_area / (
                        SELECT
                            SUM(Land_area)
                        FROM
                            geographic_location
                        WHERE
                            Sub_region = 'Middle Africa') * 100, 2) as Pct_regional_land
FROM
    geographic_location
WHERE
    Sub_region = 'Middle Africa';

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

9 rows affected.

+----------------------------------+-------------------+
|           Country_name           | Pct_regional_land |
+----------------------------------+-------------------+
|              Angola              |       32.06       |
|             Cameroon             |       12.16       |
|     Central African Republic     |       16.02       |
|               Chad               |       32.38       |
|              Congo               |        None       |
| Democratic Republic of the Congo |        None       |
|        Equatorial Guinea         |        0.72       |
|              Gabon               |        6.63       |
|      Sao Tome and Principe       |        0.02       |
+----------------------------------+-------------------+

In [7]:
%%sql

SELECT
    Country_name,
    ROUND(Land_area / (
                        SELECT
                            SUM(Land_area)
                        FROM
                            geographic_location
                        WHERE
                            Sub_region = g.Sub_region) * 100, 2) as Pct_regional_land
FROM
    geographic_location AS g;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

182 rows affected.

+---------------------+-------------------+
|     Country_name    | Pct_regional_land |
+---------------------+-------------------+
|     Afghanistan     |       13.67       |
|       Algeria       |       36.03       |
|    American Samoa   |        2.77       |
|        Angola       |       32.06       |
|       Anguilla      |        None       |
| Antigua and Barbuda |        0.21       |
|      Argentina      |       17.77       |
|       Armenia       |        0.82       |
|        Aruba        |        0.09       |
|      Australia      |       96.69       |
+---------------------+-------------------+
Truncated to displaylimit of 10.